.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table{
  margin-top: 10px;
  margin-left: 35px;
  width: 95%;
  border: 1px solid rgb(25, 117, 193);
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
}
th,td{
  border: 1px solid #1c7ccb;
  color: black;
}
nav ul li{
  display: inline-block;
}
li{
  margin-left: 80px;
  justify-content: center;
}
li a{
  text-decoration: none;
  font-size: large;
  color: white;

}
nav{
  background-color: #1c7ccb;
  padding: 0px;
  margin: 0px;
}