.employee-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
form{
  margin-top: 100px;
  border: 1px solid black;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #ccc;
}
h2{
  text-align: center;
  margin-bottom: 60px;
}
.first{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 150px;
}
label{
  display: block;
  margin-top: 10px;
}


label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="time"],
select {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

 input[type="checkbox"] {
  width: 20px;
  height: 20px;
}


.submit:hover {
  background-color: #0056b3;
} 
button{
  text-align: center;
  margin-top: 25px;
  margin-left: 700px;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  background-color: skyblue;
}
button:hover{
  background-color: #0056b3;
  }